@font-face {
    font-family: "SFText-Light";
    src: url("./vendor/fonts/SFText-Light.otf");
}

@font-face {
    font-family: "SFDisplay-Medium";
    src: url("./vender/font/SFDisplay-Medium.otf");
}


h1 {
    font-size: 38px;
}

p {
    color: #B0B0B0;
    font-size: 18px;
    font-family: 'SFText-Light'
}


.btn-default {
    background-color: #F57266;
    color: white;
}

.sign-up {
    background: #F7F7F7;
}

.kickstarter {
    background: #F57266;
}

.kickstarter h1 {
    color: white;
    font-size: 50px;
    font-family: Helvetica;
    vertical-align: text-top;
}

.kickstarter p {
    color: #282828;
    font-size: 20px;
}

.kickstarter button {
    border-color: black;
}
