@font-face {
    font-family: "SFText-Light";
    src: url("./vendor/fonts/SFText-Light.otf");
}

@font-face {
    font-family: "SFDisplay-Medium";
    src: url("./vendor/fonts/SFDisplay-Medium.otf");
}

#nav {
    padding-top: 5%;
}

#nav img {
    text-align: left;
    margin-left: -15%
}

#nav a {
    display: inline-block;
    line-height: 50px;
    color: black;
    font-size: 12px;
    padding: 0 5%;
}

h1 {
    font-size: 38px;
}

p {
    color: #B0B0B0;
    font-size: 18px;
    font-family: 'SFText-Light'
}

.intro {
    padding-top: 5%;
}

.btn-default {
    background-color: #F57266;
    color: white;
}

.gray-banner {
    z-index: -1;
    background: #F7F7F7;
    margin-top: -20%;
}

.email {
    padding-bottom: 10%;
    margin-top: -15%;

}


.sign-up {
    background: #F7F7F7;
}

.group-icons {
    padding-top: 5%;
    padding-bottom: 10%;
}

.iphones {
    z-index: 1;
}

.kickstarter {
    z-index: -1;
    background: #F57266;
    margin-top: -12%;
    padding-bottom: 5%;

}

.kickstarter h1 {
    color: white;
    font-size: 50px;
    font-family: "SFDisplay-Medium";
    vertical-align: text-top;
}

.kickstarter p {
    color: #282828;
    font-size: 20px;
}

.kickstarter button {
    border-color: black;
}

.featured-logos {
    padding-top: 5%;
}

.featured-logos h3 {
    font-family: "SFDisplay-Medium";
    font-size: 24px;
    font-weight: normal;
    padding: 2.5%;
}

.featured-logos li {
    padding: 2.5%;
}


